*.db
*.pyc
__pycache__/
.env
.venv/
.DS_Store
.venv/
data/
docs/_old
docs/refactor_plans
notebooks/data/
reports/
notebooks/portfolio_management/
notebooks/old - liquidity_fund_risk.ipynb
*.egg-info/
src/cache_old/

# notebooks/funds/aifm_infra_fund.ipynb   
# notebooks/funds/aifm_pe_buyout.ipynb    
# notebooks/funds/aifm_private_debt.ipynb 
# notebooks/funds/aifm_real_estate.ipynb  

# do not track generated figs except for the HF documentation figures
fig/*
# !fig/AIFM_HedgeFund/
# !fig/AIFM_HedgeFund/**